* {
    margin: 0;
    padding: 0;
    font-family: serif;
    list-style: none;
    text-decoration: none;
    .main {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -59%);
        .menu {
            width: 300px;
            border-radius: 8px;
            overflow: hidden;
            .item {
                border-top: 1px solid rgb(17, 197, 197);
                overflow: hidden;
                .btn {
                    display: block;
                    padding: 16px 20px;
                    background: rgb(5, 134, 134);
                    color: white;
                    position: relative;
                    &::before {
                        content: '';
                        position: absolute;
                        width: 14px;
                        height: 14px;
                        background: rgb(5, 134, 134);
                        left: 20px;
                        bottom: -4px;
                        border-radius: 50%;
                    }
                    i {
                        margin-right: 10px;
                    }
                }
                .smenu {
                    background-color: #333;
                    overflow: hidden; //解决外边距坍塌
                    transition: max-height 0.3s;
                    max-height: 0;
                    a {
                        display: block;
                        padding: 16px 26px;
                        color: white;
                        font-size: 14px;
                        margin: 4px 0;
                        position: relative;
                        &::before {
                            content: '';
                            position: absolute;
                            width: 6px;
                            height: 100%;
                            background-color: rgb(5, 134, 134);
                            top: 0;
                            left: 0;
                            border-radius: 0 50% 50% 0;
                            transition: 0.3s;
                            opacity: 0;
                        }
                        &:hover {
                            background: #222;
                            &::before {
                                opacity: 1;
                            }
                        }
                    }
                }
                &:target {
                    .smenu {
                        max-height: 100px;
                    }
                }
            }
        }
    }
}