body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    h2 {
        margin-top: 20px;
        font-family: serif;
        text-align: center;
        font-size: 2em;
    }
    .odometer {
        font-size: 4em;
    }
}